@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Light.ttf");
}

* {
  font-family: "Open Sans";
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

[data-hide] {
  display: none;
}

/* ========================================================================== */
/*
 * NAV BAR STYLE
 */
div.nav {
  text-align: center;
  position: fixed;
  width: 100%;
}

div.nav-title {
  background-color: #21252b;
  color: #d8d8d8;
  padding: 20px 0;
  font-size: 24px;
  position: relative;
  width: 100%;
}
div.nav-msg-error {
  background-color: #b30000;
  padding: 3px;
  position: relative;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
}
div.nav-msg-success {
  background-color: #009933;
  padding: 3px;
  position: relative;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
}

/* ========================================================================== */
/*
 * HEADERS
 */
div.title {
  font-size: 34px;
}

/* ========================================================================== */
/*
 * ERRORS
 */
 div.error {
   border: 1px solid #ff3300;
   color: #ff3300;
   border-radius: 4px;
   font-size: 12px;
   padding: 4px 6px;
   height: 100%;
   display: none;
 }

/* ========================================================================== */
/*
 * PAGE STRUCTURE
 */

 /* ------ TABLES ------ */
table, td {
  background-color: none;
  background-color: none;
  border: none;
  border-collapse: collapse;
  padding: 15px 20px;
  font-size: 18px;
}

table { width: 100%; }
tr { width: 100%; }
td.input { width: 40%; }
td.label{ width: 35%; }
td.msg { width: 25%; }

/* ------ SECTIONS ------ */
div.morpher-conf, div.server-conf {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

div.nav + div.morpher-conf {
  padding-top: 104px;
  padding-bottom: 100px;
}

/* ========================================================================== */
/*
 * BUTTONS
 */
button {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #d8d8d8;
  padding: 0;
  margin: 0;
  box-shadow: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

button.opt-button {
  font-size: 16px;
  padding: 5px 40px;
  background-color: #ffffff;
  color: #000000;
  float: left;
  width: 50%;
}

button.selected {
  color: #ffffff;
  background-color: #01c2e7;
  border: 1px solid #01c2e7;
}

button.add-button {
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #01c2e7;
  color: #01c2e7;
}

button.add-button:hover {
  background-color: #01c2e7;
  color: #ffffff;
  font-weight: bold;
}

button.submit-button {
  width: 100%;
  color: #00a87a;
  border: 1px solid #00a87a;
  font-size: 16px;
  background-color: #ffffff;
  padding: 20px;
}

button.submit-button:hover {
  background-color: #00a87a;
  color: #ffffff;
  font-weight: bold;
}

/* ========================================================================== */
/*
 * INPUT TEXT
 */
input[type=text] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

/* ========================================================================== */
/*
 * INPUT FILE
 */
 input[type=file] {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
 }

 input[type=file] + label {
   cursor: pointer;
   border: 1px solid #01c2e7;
   background-color: #ffffff;
   color: #01c2e7;
   border-radius: 4px;
   padding: 10px;
   font-size: 16px;
   display: inline-block;
   width: 100%;
   text-align: center;
   box-sizing: border-box;
 }

  input[type=file] + label > span {
      padding-right: 10px;
  }

  input[type=file] + label:hover {
    background-color: #01c2e7;
    color: #ffffff;
    font-weight: bold;
  }

/* ========================================================================== */
/*
 * INPUT RANGE
 */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15.5px;
  cursor: pointer;
  box-shadow: 0;
  background: #d8d8d8;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d8d8d8;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0;
  border: 1px solid #01c2e7;
  height: 30px;
  width: 12px;
  border-radius: 4px;
  background: #01c2e7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.25px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 15.5px;
  cursor: pointer;
  box-shadow: 0;
  background: #d8d8d8;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0;
  border: 1px solid #01c2e7;
  height: 30px;
  width: 12px;
  border-radius: 4px;
  background: #01c2e7;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 0;
  border: 1px solid #01c2e7;
  height: 34px;
  width: 12px;
  border-radius: 4px;
  background: #01c2e7;
  cursor: pointer;
  height: 15.5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 15.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-shadow: 0;
}

input[type=range]::-ms-fill-upper {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-shadow: 0;
}

input[type=range]:focus::-ms-fill-lower {
  background: #d8d8d8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d8d8d8;
}

/*
 * RANGE VALUE PRINT BOX
 */
div.range-value {
  background-color: #ffffff;
  border: 1px solid #01c2e7;
  text-align: center;
  color: #01c2e7;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 0;
}

/* ========================================================================== */
/*
 * EXTENSIONS INPUTS!
 */
tr#extensions > td.input > button {
  padding-top: 3px;
  padding-bottom: 4px;
  width: 20%;
  float: right;
}

tr#extensions > td.input > input {
  margin-bottom: 4px;
  width: 80%;
}

tr#save-button {
  margin-top: 20px;
}

/* ========================================================================== */
/*
 * EDITABLE DIV LABELS
 */
div.tags {
  margin-top: 10px;
  width: 100%;
}

span.tag {
  margin: 0 10px 4px 0;
  padding: 4px;
  color: #ffffff;
  border-radius: 4px;
  float: left;
}
span.tag > label {
  font-family: "Open Sans";
}

span.tag[data-extension="html"] {
  background-color: #ff5e5e;
  border: 1px solid #ff5e5e;
}

span.tag[data-extension="css"] {
  background-color: #37a75b;
  border: 1px solid #37a75b;
}

span.tag[data-extension="js"] {
  background-color: #ffd000;
  border: 1px solid #ffd000;
}

/* ========================================================================== */
/*
 * RESPONSIVE FOR SMALLER SCREENS
 */
@media (max-width: 720px) {
  button.opt-button {
    width: 100%;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -50px;
  }

  td.label {
    width: 100%;
  }
  td.input {
    width: 100%;
  }
  td.msg {
    width: 100%;
  }

  [data-hide-sm] {
    display: none;
  }

  tr#save-button > td {
    width: 100%;
  }
}
